annotated-doc==0.0.3
annotated-types==0.7.0
anyio==4.5.2
click==8.1.8
colorama==0.4.6
exceptiongroup==1.3.0
fastapi==0.121.1
h11==0.16.0
idna==3.11
pydantic==2.10.6
pydantic-core==2.27.2
sniffio==1.3.1
starlette==0.44.0
typing-extensions==4.13.2
uvicorn==0.33.0
requests
Pillow
gunicorn

python-multipart
tensorflow==2.20.0

# YOLO (Ultralytics)
ultralytics==8.3.229

# OpenCV (TensorFlow 호환 버전)
opencv-python==4.7.0.72

# PyTorch (Ultralytics 호환)
torch==2.4.1
torchvision==0.19.1

# 기타 ultralytics 및 분석 툴용
scipy==1.10.1
matplotlib==3.7.5
PyYAML==6.0.3
psutil==7.1.3

polars==1.8.2


